* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c8d7f3;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  font-size: 24px;
  padding: 10px;
  max-width: 320px;
  margin-bottom: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(154 160 185 / 5%), 
              0 15px 40px rgb(0 0 0 / 10%);;

}
.clear-button{
  width: 2em;
  height: 2em;
  background-color: red;
  margin-left: 30px;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
